{% extends 'miniblog/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5">About</h3>
      <p class="text-white"> At the age of 26, Reshammiya began producing TV series such as Andaz, Ahha, Aman, Aashiqui, and Amar Prem and Jaan on Zee TV. He also composed title tracks for some of these shows.[8] Reshammiya's father was supposed to make a film with Salman Khan in the 1990s, but this did not take place; when Khan heard one of Reshammiya's compositions, he was impressed and promised to let him compose music for one of his films. In 1998, Reshammiya made his debut as a music composer with the Salman Khan film Pyaar Kiya To Darna Kya, composing two songs for the project: "Pyaar Kiya To Darna Kya" and "Tum Par Hum Hai Aatke". Both songs became hits.[9][10]

He went on to compose music for Bandhan and Hello Brother, together with other composers. His first movie as a solo composer was another Salman Khan production, Dulhan Hum Le Jayenge. Reshammiya gained some prominence when he composed music for Humraaz. This earned him a nomination for Filmafare Award for Best Music Direction.

2003–2010
Reshammiya gained more prominence when he composed songs for another Salman Khan film, Tere Naam (2003), for which he won several accolades, including the Zee Cine Award for Best Music Director and Screen Award for Best Music Director.[11][12] In 2004, he wrote music for ten films, among them Aitraaz. In 2005, he worked on ten more films, including Aashiq Banaya Apne and Maine Pyaar Kyun Kiya?.

At this point, he also began working as a playback singer with the song "Aashiq Banaya Aapne", which earned him numerous awards, including Filmfare Award for Best Male Playback Singer, IIFA Award for Best Male Playback, and Zee Cine Award for Best Male Playback Singer.[13]

As a singer, Reshammiya has recorded multiple popular songs, such as "Aashiq Banaya Aapne", "Tera Suroor", "Zara Jhoom Jhoom", "Jhalak Dikhlaja", "Andaz Apna Apna", "Afsana", "Shakalaka Boom Boom", "Meri Awaargi", "Hookah Bar", "Chalao Na Naino Se", and "Tandoori Nights". His music has a style of composition based on a fusion of Western and Indian classical music, and Western and Indian Rock music accompanied by techno beats.

Reshammiya has also worked as an actor, beginning with the film Aap Kaa Surroor.[14]

He was the first Indian singer to perform at Wembley Arena in London and the Heineken music hall in Amsterdam.[15]

Reshammiya was actively involved in mentoring and judging the singing competition Sa Re Ga Ma Pa Challenge on Zee TV. His group was known as Jai Mata Di Let's Rock Gharana[citation needed]. He was the winning mentor of the show in 2007. In 2009, Vaishali Mhade, a female contestant from his Jai Mata Di Let's Rock Gharana group, won the singing competition. He is also the team captain, judge, and mentor on Star Plus's show Music Ka Maha Muqqabla for the team Himesh's Warriors. Reshammiya was also the judge of the musical reality show Sur Kshetra, which was telecasted on Sahara One. He appeared as the special guest in the Grand Finale of Jo Jeeta Wohi Superstar 2, where he also trained the top four contestants.[16]

2011–present
On 4 November 2013, it was announced that Reshammiya would be acti </p>
       </div>
</div>
{% endblock content %}